body{
    margin:0;
    padding:0;
}

.topo {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    position:fixed;
}

.camera{
    float:left;
    margin-top:10px;
    margin-left:5%;
}

.camera img{
    width: 30px;
}

.logo {
    width: 110px;
    margin-left: 100%;
}
.logo img{
    width:100px;
}

.send {
    float:right;
}

.send img {
     width: 40px;
}

.menu{
    Justify-Content: space-between;
    border-bottom:blue, solid, 1px;
}